<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">
  <extensions>
    <add assembly="NLog.PG.NetCore"/>
  </extensions>
  <targets async="true">
    <target xsi:type="PG"
      name="PGLog"
      tableName="log"
      connectionString="User ID=inofa;Password=Inofa_db;Host=192.168.101.109;Port=5432;Database=mqlog;Pooling=true;">
      <field name="id" layout="${guid:format=D}" pgType="Guid"/>
      <field name="d" layout="${date}" pgType="DateTime" />
      <field name="msg" layout="${message}" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="PGLog" final="true" />
  </rules>
</nlog>
